.category-container{
	display: block;
	float: left;
	width: 880px;
	padding-left: 30px;
}	

.category-title{
	display: block;
	text-transform: uppercase;
	font-family: NarrowSansBold;
	font-size: 32px;
	color: #566473;
}

.category-elements{
	display: block;
	margin-top: 50px;
}

.category-elements-item:hover{
	background-color: #DDD;
	background-blend-mode: darken;
}

.categor-elements-item:first-element{
	margin-left: 0;
}

.category-elements-item{
	display: block;
	float: left;
	outline: none;
	text-decoration: none;
	width: 266px;
	height: 266px;
	margin-left: 20px;
	transition: background-color .3s ease-in;
} 

.category-elements-item-pic{
	display: block;
	height: 200px;
	width: 100%;
	background: url("../img/category/armatura.png")
				no-repeat;
	background-size: contain;
}

.category-elements-item-text{
	display: block;
	color: #686868;
	text-transform: uppercase;
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
	font-family: NarrowSansBold;
}