.table-container{
	display: block;
	float: left;
	width: 860px;
	padding-left: 50px;
}	

.table-title{
	display: block;
	text-transform: uppercase;
	font-family: NarrowSansBold;
	font-size: 32px;
	color: #566473;
}

.table-text{
	display: block;
	margin-top: 50px;
	font-size: 18px;
	color: #686868;
}

.table-text-elements{
	display: block;
	border-collapse: collapse;
}

.table-text-elements tr{
	border: 1px solid #BBB;
}

.table-text-elements td:nth-child(2) {
	padding-right: 70px;
	font-style: NarrowRegularBold;
}

.table-text-elements th:last-child {
	margin-right: 0;
}

.table-text-elements th{
	padding-right: 10px;
	border-bottom: 2px solid #686868;
}

.table-text-elements td:last-child{
	padding-right: 20px;
	margin-right: 0;
}

.table-text-elements td{
	font-size: 16px;
	padding: 8px 0;
	padding-right: 10px;
}

.table-text-elements-pic{
	display: block;
	height: 32px;
	width: 32px;
}

.table-text-elements-input{
	border: 1px solid #AAA;
	width: 50px;
	padding-left: 10px;
	font-size: 16px;
	color: #686868;
}

.table-text-elements-cart:hover{
	background-color: #EF7F7F;
}

.table-text-elements-cart{
	background-color: #E13F3F;
	padding: 5px 20px;
	color: #fff;
	border-radius: 5px;
	font-size: 18px;
	text-decoration: none;
	transition: background-color .3s ease-in;
}

.table-text-elements-num{
	width: 30px;
}

.table-tabs{
	display: block;
}

.table-tabs-element:hover{
	background-color: #888;
}

.table-tabs-element{
	display: block;
	float: left;
	height: 30px;
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	background-color: #686868;
	border: 2px solid #686868;
	margin-right: 1px;
	cursor: pointer;
	padding: 0 10px;
	transition: background-color .3s ease-in;
}

.table-hidden{
	display: none;
}

.table-element-picked{
	border: 2px solid #E13F3F;
}